nav {
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    height: 60px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 15px 0;
}
nav ul li a{
    text-decoration: none;
    line-height: 20px;
    padding: 10px;
    color: #262626;
    font-weight: bold;
    font-family: poppins;
    transition: all 0.3s ease-in-out;
    margin: -10px 0 0 0;
    float: left;
}
nav ul li a:hover{
    color: grey;
    transition: .6s;
    background: silver;
}
.shadow{
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,3), 0 0 40px rgba(0,0,0,0.1) inset;
}
table{
    margin-top: 80px;
}
.pe ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}
.pe ul li{
    list-style: none;
    display: inline-block;
    font-size: 30px;
}
.oi ul li{
    list-style: none;
    font-size: 8px;
}
.pl ul li{
    list-style: none;
}
.pl ul li a{
    text-decoration: none;
}
.kn{
    font-size: 15px;
    text-align: justify;
}
.mn{
    font-size: 8px;
}